/* ------------------------------------------
	--- Mobile style ---
--------------------------------------------- */
.currency-converter{
	width: 100%;
	padding: 20px 10px;
	margin: 0 0 20px;


	input, select{
		height: 35px;
	}
	.btn-disclaimer{
		position: static;
		float: none;
		display: block;
		text-align: center;
	}
	.disclaimer{
		p{
			margin: 0 0 10px; 
		}
	}
}